

.button {
    outline: none;
    border: none;
    background: navy;
}

.button:focus {
    border: 1px solid navy;
}

.tileClass {
    border: none;
    outline: none;
    background: transparent;
    color: black;
    opacity: 0.8;
    font-size: 14px;
    padding: 6px;
}

.tileClass:focus {
    border: 1px solid navy;
}

.calendarClass {
    background: transparent;
    color: black;
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
}

.prova {
    background: #fb654c;
    background-clip: content-box;
    padding: 8px;
}

.trabalho {
    background: gold;
    padding: 8px;
    background-clip: content-box;
}

.outro {
    background: #8affb0;
    background-clip: content-box;
    padding: 8px;
}