.ProjectView {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    width: inherit;
    overflow-y: none;
}

.headerTitle {
    font-size: 32px;
    color: #323ca0;
}

.headerDiv {
    border-bottom: 1px solid #323ca0;
    width: 100%;
}