.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 24px;
}

.invertColors {
    color: black;
}

.handleDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.matricula {
    font-size: 14px;
}

.nome {
    font-weight: 700;
    font-size: 18px;
}

.pictureOpen {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 8px;
    transition: 0.5s;
}

.pictureClose {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 8px;
    transition: 0.5s;
}

.large {
    width: 248px;
    height: 248px;
    border-radius: 50%;
    margin: 12px;
}